h4 {
  margin-block-end: 0;
  margin-block-start: 0;
}

h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

h2 {
  color: #404040;
  font-family: monospace;
  font-size: 24px;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-full-width {
  width: 100%;
}

.mat-list-base {
  width: 100%;
}

.subTitle {
  margin-top: 12px;
}

.sublist {
  padding: 2px;
}

.sublist > p {
  white-space: pre-line;
}

.title {
  padding: 4px;
}


.submit {
  background: #2e7d32;
  color: white;
  margin-left: auto;
  margin-right: auto
}

.flex {
  display: flex
}

.flex.align-v {
  align-items: center;
}

.center {
  margin-left: auto;
  margin-right: auto
}

.addButton {
  margin-left: auto
}

.submitDiv {
  margin-top: 20px
}

.matListItem {
  display: flex;
  position: relative;
  width: 100%;
  padding: 5px 0 !important;
  height: auto !important;
  overflow: hidden;
}

.action {
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  right: -100px;
  transition: 0.5s;
}

.matListItem:hover .action {
  display: initial;
  visibility: visible;
  transition: 0.5s;
  right: 0px;
}

.matListItem:nth-child(n+2) {
  border-top: 1px solid #C3C3C3;
}
