p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground-default);
  ;
}

.level.empty {
  background-color: #efefef;
  border: solid thin #efefef;
}

.level {
  color: var(--foreground-font-secondary);
  line-height: 15px;
  margin: 1px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 10px;
  font-weight: 900;
  width: 15px;
  height: 15px;
  border: var(--secondary-default);
  border-style: solid;
  border-width: thin;
  border-radius: 50%;
  text-align: center;
  background-color: var(--secondary-default);
}

.language {
  background: var(--secondary-default);
  border-radius: 30px;
  padding: 5px 16px;
  margin: 5px;
  z-index: 1;
}

.language.certification {
  border: 4px solid var(--secondary-default);
  background: none;
  color: var(--foreground-default);
  padding: 1px 16px 1px 21px;
  margin-left: -25px;
  font-weight: 400;
  z-index: 0;
}

p {
  color: var(--foreground-font-secondary);
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.languageCount {
  display: flex;
  margin-left: auto;
  margin-right: 5%;
  font-size: 18px
}


h4 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 18px;
  font-family: 'Oswald';
  font-weight: 500;
}

h3 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 22px;
  font-family: 'Oswald';
  font-weight: 500;
}

h2 {
  color: #404040;
  font-family: monospace;
  font-size: 24px;
}
