.toolbar {
  position: fixed;
  top: 0;
  z-index: 200;
  background: var(--primary-default);
  color: var(--foreground-default);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.zoom {
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0px 10px;
  margin-left: auto;
}

.zoomTitle {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 10px;
}

/deep/ .mat-accent .mat-slider-thumb {
  background: var(--secondary-default);
}

/deep/ .mat-accent .mat-slider-track-fill {
  background: var(--secondary-default);
}
