<mat-toolbar class="toolbar">
  <span>Création CV</span>
  <div style="margin-left: auto">
    <mat-form-field style="width: 100%;">
      <mat-select [(value)]="currentLanguage" (selectionChange)="changeLanguage()">
        <mat-option *ngFor="let language of languages" [value]="language.id">
          {{language.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>
<div style="height: 64px;"></div>
<div>
  <div style="display: flex">
    <app-cv style="margin: 1%;"></app-cv>
    <app-form style="margin: 1%"></app-form>
  </div>
</div>
