.toolbar {
  position: fixed;
  top: 0;
  z-index: 200;
  background: var(--primary-default);
  color: var(--foreground-default);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
