<mat-toolbar class="toolbar">
  <span>Création CV</span>
  <div class="zoom">
    <h4 class="zoomTitle">Zoom</h4>
    <mat-slider #matslider [max]="1" [min]="0.5" [step]="0.01" (input)="getSliderTickInterval($event)"
      class="zoomSlider">
    </mat-slider>
  </div>
  <div style="margin-left: auto">
    <mat-form-field>
      <mat-select [(value)]="currentLanguage" (selectionChange)="changeLanguage()">
        <mat-option *ngFor="let language of languages" [value]="language.id">
          {{language.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-toolbar>
<div style="height: 64px;"></div>
<div>
  <div style="display: flex">
    <app-form style="margin: 1%"></app-form>
    <app-cv style="margin: 1%;"></app-cv>
  </div>
</div>
