p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground-default);
  ;
}

h4 {
  margin-block-end: 0;
  margin-block-start: 0;
}

h3 {
  margin-block-end: 0;
  margin-block-start: 0;
}

h2 {
  color: #404040;
  font-family: monospace;
  font-size: 24px;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
}

.skill {
  margin: 5px 0px;
  border-left: solid 5px var(--secondary-default);
  padding-left: 5px;
}
