<div id="cv" class="cv" [ngStyle]="{'scale': matSliderValue, 'transform': 'scale(' + matSliderValue + ')'}">
  <div class="infoPerso">
    <div class="top-part">
      <h2 style="color: white;text-align: center;position: relative; z-index: 1;">{{information.surname}}
        {{information.name}}</h2>
      <img [src]="transform()" class="imgHead" height="auto" width="auto">
      <div class="title">
        <h3 class="titleText">{{information.title}}</h3>
      </div>
      <h3 class="titleSelfInfo">Données personnelles</h3>
      <app-infos></app-infos>

      <h3 class="titleSelfInfo">Compétences</h3>
      <app-skills></app-skills>

      <h3 class="titleSelfInfo">Langues</h3>
      <app-language></app-language>


      <h3 class="titleSelfInfo">Loisirs</h3>
      <app-hobbies></app-hobbies>

    </div>

    <div class="make logo">
      <div>
        <p style="font-size: 12px">Fait en HTML/CSS</p>
        <div class="flex center-h">
          <img class="small-logo" src="../../../assets/img/html.png" alt="">
          <img class="small-logo" style="width: 18px" src="../../../assets/img/css.png" alt="">
        </div>
      </div>
    </div>

  </div>
  <div class="infoEducation">
    <div class="subInfo">
      <h2>Expérience professionnelle</h2>
      <div name="experience">
        <app-experience></app-experience>
      </div>

      <hr>

      <h2>Formation</h2>
      <div name="enseignement">
        <app-formation></app-formation>
      </div>
    </div>
  </div>
</div>
