p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground-default);
}

h4 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 18px;
  font-family: 'Oswald';
  font-weight: 500;
}

h3 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 22px;
  font-family: 'Oswald';
  font-weight: 500;
}

h2 {
  color: #404040;
  font-family: monospace;
  font-size: 24px;
}

p {
  margin-block-end: 0;
  margin-block-start: 0;
  white-space: pre-line;
  font-family: 'Open Sans';
  font-size: 14px;
}

.exp {
  margin: 8px 0px;
  padding-top: 10px;
  padding-left: 5px;
}

.exp:nth-child(n+2) {
  border-top: 1px solid var(--primary-light);
}


.icon {
  font-size: 20px;
  color: #4d8c94;
  margin-right: 10px
}

.icon.small {
  height: 24px;
  width: 24px;
}

.logo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
  border: black;
  border-width: thin;
  /* border-style: solid; */
  box-shadow: 0px 0px 5px 0px #8b8989;
}

.center-flex {
  align-self: center;
}
