p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--foreground-default);
}

.hobbies {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.hobbies>p {
  color: var(--foreground-font-secondary);
  font-family: Roboto,
    "Helvetica Neue",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
}


h4 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 18px;
  font-family: 'Oswald';
  font-weight: 500;
}

h3 {
  margin-block-end: 0;
  margin-block-start: 0;
  font-size: 22px;
  font-family: 'Oswald';
  font-weight: 500;
}

h2 {
  color: #404040;
  font-family: monospace;
  font-size: 24px;
}

p {
  background: var(--secondary-default);
  font-family: 'Open Sans';
  border-radius: 30px;
  padding: 5px 16px;
  margin: 5px;
}
