/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto, Helvetica Neue", sans-serif;
}

:root {
  /* Colors */
  --foreground-default: #ffffff;
  --foreground-black: #000000;
  --foreground-grey: #404040;

  --foreground-font-primary: #ffffff;
  --foreground-font-secondary: #ffffff;

  --background-default: #ffffff;

  --primary-default: #3949ab;
  --primary-light: #6f74dd;
  --primary-dark: #00227b;

  --secondary-default: #ff4081;
  --secondary-light: #ff79b0;
  --secondary-dark: #c60055;

  --background-tertiary-shadow: 0 1px 3px 0 #C3C3C3;


}
